@model System.Collections.Generic.List<OdataRef.Disciplinary_Cases_Card>

<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-flag fa-fw"></i> Disciplinary Status
    </div>
    <div class="panel-body">
        <svg width="40" height="40">
            @if (Model.Count == 0)
            {
                <circle cx="20" cy="20" r="15" fill="green" data-toggle="tooltip" data-placement="top" title="No Disciplinary Cases" />
                <small>good</small>
            }
            else if (Model.Count == 1)
            {
                <circle cx="20" cy="20" r="15" fill="white" stroke="gray" stroke-width="1" data-toggle="tooltip" data-placement="top" title="1 Disciplinary Case" />
                <small>fair</small>
            }
            else if (Model.Count >= 2)
            {
                <circle cx="20" cy="20" r="15" fill="red" data-toggle="tooltip" data-placement="top" title="2 Disciplinary Cases" />
                <small>bad</small>
            }
        </svg>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
