
@{
    ViewBag.Title = "SupervisorAppraisalHome";
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!--Render Human Resource Sidebar-->
    @{Html.RenderAction("_PerformanceManagementSidebar", "PerformanceHome");}

    @{Html.RenderAction("_SupervisorAppraisals", "SupervisorAppraisals");}

</div>





