@model System.Collections.Generic.List<OdataRef.KnowledgeGapsDepartmental>


@foreach (var trainingAnalysisKnowledgeGapsIndividual in Model)
{
    <tr>
        <td>
            @trainingAnalysisKnowledgeGapsIndividual.Line_No
        </td>
        <td>
            @trainingAnalysisKnowledgeGapsIndividual.Description
        </td>
        <td>
            <a onclick="EditKnowledgegapDepartmentLine(this,@trainingAnalysisKnowledgeGapsIndividual.Line_No,'@trainingAnalysisKnowledgeGapsIndividual.Training_Need_No')">edit</a>|
            <a onclick="DeleteKnowledgegapDepartmentLine(this,@trainingAnalysisKnowledgeGapsIndividual.Line_No)">delete</a>
        </td>
    </tr>
}