@model IList<DynamicsNAV365_StaffPortal.Models.ProjectManagement.ProjectManagementModel>

@{
    ViewBag.Title = "Member Projects";}
<!--Render Human Resource Sidebar-->
<aside class="right-side">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="company_card">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="title" style="text-align:center">Projects</h4> 
                            </div>                          
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="alertsuccess"> You have not been assigned any projects yet.</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>








