.dynamics-nav-skin .navbar{
    color:white;
    background-color:#019642;
}
.dynamics-nav-skin .modal-header{
    color:white;
    background-color:#332e7e;
}

.dynamics-nav-skin .modal-footer{
    color:white;
    background-color:#332e7e; 
}
